@model IEnumerable<HOLIX.Models.User>
@{
    Layout = null;
}
<script>
    const model = JSON.parse('@Html.Raw(Json.Serialize(Model))')
</script>

<script>const pins = [];</script>
<title>Index</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

<button onclick="initMapS(pins)">
    Mostra Mapa
</button>

<div style="visibility: hidden;" id="map"></div>


<style type="text/css">

    #map {
        height: 50%;
        width: 50%;
    }
</style>

<script>
    function initMapS() {
        document.getElementById("map").style.visibility = "visible";
   
        initMap(pins)
    }
</script>


<script>

    function geocode(address) {


        var location = address;
        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params: {
                address: location,
                key: ''
            }
        })
            .then(function (response) {
                pins.push({ lat: response.data.results[0].geometry.location.lat, lng: response.data.results[0].geometry.location.lng })
            })
            .catch(function (error) {
                console.log(error);
            })

    }</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>

<script>for (i in model) {

    var res =
        +'rua ' + model[i].addressStreet + ' ' +
        model[i].addressNumber + ' ' +
        model[i].addressComplement + ' ' +
        +'bairro ' + model[i].addressNeighborhood + ' ' +
        model[i].addressCity + ' ' +
        model[i].addressState + ' ' +
        model[i].addressCountry;

        geocode(res)
    }</script>
<script>
    function test(pins) {
        for (i = 0; i < pins.length; i++) {
            console.log(pins[i])
        }
    }
</script>
<script>
    test(pins)
</script>

<script>
    let map;
    function initMap(pins) {

        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -18.9113, lng: -48.2622 },
            zoom: 12,
        });



        for (i = 0; i < pins.length; i++) {
            coords = pins[i]
            addMarker(coords)
        }

        function addMarker(coords) {
            var marker = new google.maps.Marker({
                position: coords,
                map: map,
            });
        }


    }
</script>